* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
}

html {
    background-color: black;
    height: 100vh;
}

#about-box {
    padding-top: 2rem;
    font-size: 1.18em;
}

p {
    font-size: 1.17em;
    font-weight: bold;
}

#knowledge-box {
    display: flex;
    align-items: center;
    justify-content: center;

    #knowledge {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }
}

#title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

li {
    font-size: 1.17em;
}

#projects {
    h3 {
        text-align: center;
    }

    #project-box {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    .project {
        width: 20rem;
        padding: 1rem;
        border: 1px solid white;
        border-radius: 5px;

        h4 {
            font-size: 1.17em;
        }

        p {
            font-size: 1em;
            padding: 1.2rem 0;
        }
    }
} 

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ul {
        display: inline-flex;
        gap: 1rem;
    }

    #cite {
        color: gray;
        padding: 2rem;
        max-width: 30em;
    }
}